# Ignore everything:
*
# But not these files 
!.gitignore
!*.py
!nets
!utils
!run
!venv
!README.md
# etc

# even if they are in subdirectories 
#  !*/

# if the files to be tracked are in subdirectories
# !*/a/b/file.txt ...etc
